*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merienda;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between; 
    padding: 0px 80px;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 10px rgb(219, 218, 218);
}

.nav-container h2{
    font-size: 1.8rem;
    color: rgb(113, 181, 210);
}

.nav-elements a{
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    margin: 0px 8px;
    font-size: 1.3rem; 
    border-radius: 5px;
    position: relative;
    transition: font-size 0.2s ease-in-out;
}

.nav-elements a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(to right,rgb(140, 195, 218), rgb(82, 157, 190));
    transition: width 0.3s  ease-in-out;
}

.nav-elements a:hover::after{
    width: 100%;
}

.nav-elements a {
    will-change: font-size, transform, width;
}

/* home page */
.introduction{
    height: 100vh;
    display: grid;
    padding: 0px 130px;
    grid-template-columns: repeat(2, 500px);
    justify-content: space-between;
    align-items: center;
}

.left-introduction h2{
    font-size: 3rem;
    color: rgb(57, 115, 132);
}

.left-introduction p{
    padding: 40px 0px ;
}

.explore-btn{
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    color: rgb(7, 28, 35);
    font-weight: 600;
    background: linear-gradient(to right,rgb(156, 209, 225),rgb(15, 181, 231));
}

.work-btn{
    padding: 8px 24px;
    border: 2px solid rgb(15, 181, 231);
    border-radius: 5px;
    color: rgb(7, 28, 35);
    font-weight: 600;
    margin-left: 20px;
    background-color: white;
}

.right-introduction{
    height: 100%;
    position: relative;
}

.frame1{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 40px;
    transform: rotate(-5deg);
    box-shadow: 0px 0px 15px #050505;
    height: 300px;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(21, 95, 117);
}

.frame2{
    position: absolute;
    z-index: 8;
    top: 480px;
    left: 0;
    transform: rotate(-20deg);
    box-shadow: 0px 0px 15px #050505;  
    height: 300px;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(21, 95, 117);
}

.frame3{
    position: absolute;
    z-index: 9;
    top: 310px;
    left: 220px;
    transform: rotate(30deg);
    box-shadow: 0px 0px 15px #050505;
    height: 300px;
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(21, 95, 117);
}

.frame-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frames-section{
    display: flex;
    padding: 100px 120px;
    margin-top: 60px;
    gap: 100px;
    align-items: center;
    background-color: rgb(241, 245, 250);
}

.frames{
    display: flex;

}

.left-frames, .right-frames{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame-container{
    box-shadow: 0px 0px 10px rgb(65, 65, 65);
}

.frame-container-1{
    width: 250px;
    height: 170px;
}

.frame-container-2{
    height: 320px;
    width: 200px;
}

.frame-container-3{
    height: 320px;
    width: 220px;
    margin-left: 20px;
}

.frame-container-4{
    width: 250px;
    height: 160px;
}

.frames-info{
    text-align: center;
}

.frames-info-heading{
    font-size: 2rem;
    color: rgb(57, 115, 132);
    font-weight: 700;
    -webkit-text-stroke: 1px;
}

.frames-info h1{
    font-size: 4rem;
    -webkit-text-stroke: 1px;
}

.frames-info p{
    font-size: 1.1rem;
    color: rgb(106, 106, 106);
    padding: 40px 0px 70px 0px;
}

.frame-explaination-text{
    padding-bottom: 20px;
    font-size: 1.2rem;
    color: rgb(48, 47, 47);
}

/* discovery section */
.discovery-section{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
}

.discovery-info h2{
    font-size: 2rem;
    color: rgb(21, 95, 117);
    -webkit-text-stroke: 1px;
}

.discovery-info p{
    padding: 40px 0px 60px 0px;
    font-size: 1.1rem;
}


/* form */
.contact{
    display: flex;
    justify-content: space-between;
    margin: 80px 200px;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding: 10px;
    gap: 16px;
}

.form h2{
    font-size: 2.6rem;
    padding-bottom: 10px;
    color: rgb(57, 115, 132);
}

.input{
    padding: 10px 20px;
    border-radius: 20px;
    width: 93%;
    border: none;
    background-color: rgb(214, 228, 245);
    outline: none;
    margin-right: 8px;
}

.name{
    width: 45%;
}

.message-box{
    width: 390px;
    height: 100px;
}

.submit-btn{
    width: 160px;
    margin: 8px;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
    background-color: rgb(57, 115, 132);
    color: white;
}

.letter-form{
    width: 360px;
    height: 400px;
    padding: 20px 24px;
    background-color: rgb(57, 115, 132);
    color: white;
    border-radius: 20px;
}

.letter-form h3{
    font-size: 1.8rem;
    padding-bottom: 8px;
}

.letter-contact{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap:20px;
}

.letter-email{
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

.letter-submit{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 8px 0px;
}

.panels{
    display: flex;
    margin: 100px 180px;
    margin-left: 255px;
    gap: 30px;
}

.contact-panel{
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 0px 0px 5px grey;
  background: linear-gradient(
    to top,
    rgb(57, 115, 132) 0%,
    rgb(57, 115, 132) 100%
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
  color: black;
}

.contact-panel h3{
    font-size: 1.4rem;
}

.contact-panel p{
    padding: 20px 0px 50px 0px;
}

.contact-panel:hover{
    background-size: 100% 100%;
  color: white;
}

.contact-icon{
    margin: 0px 10px;
}

.map h2{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
    color: rgb(57, 115, 132);
}

.mapouter{
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    margin-left: 80px;
}

#gmap_canvas{
    border-radius: 20px;
}

/* Footer */

.footer-section{
    background-color: rgb(93, 141, 155);
    padding: 40px 120px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}

.bottom-element{
    border-bottom: 2px solid rgb(210, 201, 201);
    padding-bottom: 50px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-elements{
    padding-left: 100px;
}

.footer-elements h4{
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.footer-media{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0px 100px 0px 40px;
}

.media-icon{
    font-size: 1.6rem;
    margin: 0px 10px;
    cursor: pointer;
}

.copyright{
    color: white;
    padding-top: 30px;
    text-align: center;
}
